## ignore file ##

*.opendb
*.suo
*.obj
*.exe
*.dll
*.user
ANA38601.uvguix.*

*.pyd.3.8
*.pyd.3.9
*.pyd.3.10
*.pyd.3.11
*.o

## ignore dir name ##
.vs/
x86/
x64/
bin/
obj/
Debug/
Debug-64/
Release/
publish/
Listings
Objects/
RTE/

__pycache__

## ignore file ##
/.qmake.stash
/Makefile
/ui_mainwindow.h
/ui_newdesignexdialog.h
/ui_newipdialog.h
/ui_newiodialog.h
/ui_newprojectdialog.h


